body{
   margin:60px;
   font-family:helvetica;
   text-align: center;
   /*border:2px solid black;*/
}
header {
  border:2px solid black;
}
.container {
  margin:10px;
    width:80%;
  }
}
.smile {
  padding:20px;
  height:10px;
}
.fa-male {
  padding-right:5px;
}
#female {
  background:#F9A7B0;
  border: 1px solid #F9A7B0;
}
#male {
  background: #306EFF;
  border: 1px solid #306EFF;
  width: 110px;
}
span {
  font-size:1em;
  font-weight:bold;
  text-decoration:underline;
}
/*
.logo {
  height:50px;
  position:absolute;
  padding:20px;
  right:200px;
}
h1 {
  right:190px;
  position:absolute;
  top:110px;
  font-size:40px;
}
h2 {
  margin-left:40px;

}
li {
  display:inline-block;
}
#words{
height:300px;
width:70%;
position:relative;
left:100px;
}
input {
  height:40px;
  margin:10px 10px;
  text-align:center;
  border:1px solid black;
}
.game {
  height:300px;
  width:75%;
  position:relative;
  left:100px;
}
p {
  font-size:1.5em;
}
button {
  background: lightGrey;
  padding: 10px;
  position:relative;
  left:120px;
  width:25%;*/

}
