<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Madlibs!</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js">
   </script>
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="myCtrl as app">
  <!-- <div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Your name?">
      <hr>
      <h1> Hello {{ yourName }}!</h1>
  </div> -->
  <header>
  <img class='smile' src="images/face.png" />
  <img class='logo' src="images/logo.png"  />

  <h1>Automate This!</h1>
  </header>


  <section id='words' class='container'>
    <div>
      <button class="btn btn-primary btn-lg" id='male' ng-click="app.genderChoice('male')">  <i class="fa fa-male"></i>Male </button>
      <button class="btn btn-primary btn-lg" id="female" ng-click="app.genderChoice('female')"> <i class="fa fa-female"></i> Female </button>

   </div>
   <div ng-show="app.gender">
    <h3> Provide the following words:  <br>
       <i class="fa fa-pencil fa-1x"></i></h3>

      <input type="text" ng-show="app.gender == 'male'" ng-model="app.maleName" placeholder="Male Name" />
      <input type="text" ng-show="app.gender == 'female'" ng-model="app.femaleName" placeholder="app.femaleName" />
      <input type="text" ng-model="app.jobTitle" placeholder="Job Title" />
      <input type="text" ng-model="app.tediousTask" placeholder="Tedious Task" />
      <input type="text" ng-model="app.dirtyTask" placeholder="Dirty Task" />
      <input type="text" ng-model="app.celebrity" placeholder="Celebrity" />
      <input type="text" ng-model="app.uselessSkill" placeholder="Useless Skill" />
      <input type="text" ng-model="app.adjective" placeholder="Adjective" />
      <input type="text" ng-model="app.obnoxiousCelebrity" placeholder="Obnoxious Celebrity" />
      <input type="text" ng-model="app.hugeNumber" placeholder="Huge Number" />
    </section>
    <hr>
  <section id='game' class='container'>
    <p ng-show="app.gender == 'male'"><span> {{app.maleName}} </span> was a <span> {{app.jobTitle}} </span>
      who loved technology. Although he loved parts of his job, he absolutely hated
      <span>{{app.tediousTask}}</span> and <span>{{app.dirtyTask}}</span>. So, <span>{{maleName}}</span> met with his
      life mentor <span>{{app.celebrity}}</span> who told him to learn how to <span>{{app.uselessSkill}}</span> with Thinkful.
        Thinkful didn't offer a course on<span>{{app.uselessSkill}}</span> so he studied programming instead.
          What a great decision! With his new skills,<span>{{app.maleName}}</span> built a(n)
      <span>{{app.adjective}} </span>robot named <span> {{app.obnoxiousCelebrity}}</span> that not only loved
      <span>{{app.dirtyTask}}</span> but did it <span>{{app.hugeNumber}}</span> faster. </p>

      <p ng-show="app.gender == 'female'"><span> {{app.femaleName}} </span> was a <span> {{app.jobTitle}} </span>
        who loved technology. Although she loved parts of her job, she absolutely hated
        <span>{{app.tediousTask}}</span> and <span>{{app.dirtyTask}}</span>. So, <span>{{femaleName}}</span> met with her
        life mentor <span>{{app.celebrity}}</span> who told her to learn how to <span>{{app.uselessSkill}}</span> with Thinkful.
          Thinkful didn't offer a course on<span>{{app.uselessSkill}}</span> so she studied programming instead.
            What a great decision! With her new skills,<span>{{app.femaleName}}</span> built a(n)
        <span>{{app.adjective}} </span>robot named <span> {{app.obnoxiousCelebrity}}</span> that not only loved
        <span>{{app.dirtyTask}}</span> but did it <span>{{app.hugeNumber}}</span> faster. </p>


  </section>
  <hr>

<script src="app.js"></script>
</body>
</html>
